body{
	margin: auto;
	width: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: antiquewhite;
	display: inline-flex;
	font-size: 30px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* I'd love to include more CSS but nothing seems to be working. */